.logo.logo {
  left: 11.6641px;
}
.asset32x3.asset32x3 {
  background-image:/* webpackIgnore: true */ url('/assets/asset32x34.png');
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 1372.6641px;
  height: 532.5062px;
  align-items: flex-start;
}
._526AvenueOfTheFaso {
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 85.4833%;
  right: 0.1533%;
  top: 16.4728%;
  bottom: 78.5524%;
  flex-direction: column;
}
.addresss {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  left: 85.4833%;
  right: 4.4325%;
  top: 10.2542%;
  bottom: 86.4292%;
  flex-direction: column;
}
.donateAdoptContactStayInTouchA {
  position: absolute;
  left: 30.9866%;
  right: 54.7595%;
  top: 20.1852%;
  bottom: 12.8825%;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.usefulLinks {
  position: absolute;
  left: 30.3745%;
  right: 59.6565%;
  top: 8.3886%;
  bottom: 82.379%;
  flex-direction: column;
}
.textBlock11 {
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock12 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
._2021FundgensAllRightsReserved {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.8497%;
  right: 81.2289%;
  top: 78.4967%;
  bottom: 16.9963%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.whySaveTheChildrenWhatWeDoWher {
  position: absolute;
  left: 0;
  right: 81.8601%;
  top: 23.1818%;
  bottom: 0%;
  flex-direction: column;
}
.textBlock13 {
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.learnMore {
  position: absolute;
  left: 0.3443%;
  right: 90.186%;
  top: 10.2542%;
  bottom: 79.9256%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock22 {
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock23 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.journalAboutUsOurStory {
  position: absolute;
  left: 61.0089%;
  right: 31.9571%;
  top: 15.6436%;
  bottom: 44.9725%;
  flex-direction: column;
}
.textBlock24 {
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock26 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 222%;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sITE {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  left: 61.1561%;
  right: 36.3527%;
  top: 10.2542%;
  bottom: 86.4292%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.followUs {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  font-family: Clash Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  left: 85.5026%;
  right: 4.4131%;
  top: 59.7176%;
  bottom: 36.9658%;
  flex-direction: column;
}
.socials {
  position: absolute;
  left: 1173.6641px;
  top: 354px;
  width: 199px;
  height: 28px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
